.footer__container
{
    width:100%;
    display:flex;
    justify-content: space-between;
    height:15%;
    border-top: 1px solid lightgray;
    padding:10px;
    background-color: #f6f8fa;
}

.footer__container_left
{
    display: flex;
    gap:10px;
    align-items: center;
}

.footer__container_right
{
    display: flex;
    width:80%;
    justify-content: space-evenly;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: smaller;
    color:#3b60f5

}
